<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>food-orders</title>
    {# Load static file #}
    {% load staticfiles %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'restaurants/css/main.css' %}" />

    {% block head %}{% endblock %}
</head>
<body>

    <div class="wrapper">
    {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% block footer %}{% endblock %}

</body>
</html>