<!DOCTYPE html>
<html lang="en">

<head>
    <title>food-orders</title>
    {# Load static file #}
    {% load staticfiles %}
    {# Load bootstrap #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'restaurants/css/main.css' %}" />
</head>

<body>
    <div class="container wrapper">
        <form method="GET" class="form-inline">
            <select name="cuisine" class="form-control">
                <option value="">All</option>
                {% for cuisine in cuisine_list %}
                <option value="{{cuisine.name}}" {% if cuisine_name == cuisine.name %} selected {% endif %}>
                    {{cuisine.name}}
                </option>
                {% endfor %}
            </select>
            {% buttons %}
            <button type="submit" class="btn btn-default">
                {% bootstrap_icon "glyphicon glyphicon-search" %} Search
            </button>
            {% endbuttons %}
        </form>
        <h1>RESTAURANTS</h1>
        <ul>
            {% for restaurant in object_list %}
            <li>{{ restaurant.name }} - {{ restaurant.cuisine_text }}</li>
            {% empty %}
            <li>No Restaurant found!!!</li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>

</html>
