<!DOCTYPE html>
<html lang="en">

<head>
    <title>food-orders</title>
</head>

<body>
    <form method="GET">
        <select name="cuisine">
            <option value="">All</option>
            {% for cuisine in cuisine_list %}
            <option value="{{cuisine.name}}">
                {{cuisine.name}}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Search">
    </form>
    <h1>RESTAURANTS</h1>
    <ul>
        {% for restaurant in object_list %}
        <li>{{ restaurant.name }} - {{ restaurant.cuisine_text }}</li>
        {% empty %}
        <li>No Restaurant found!!!</li>
        {% endfor %}
    </ul>
</body>

</html>
