dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-bootstrap3==6.2.2
django-money==0.7.2
django-phonenumber-field==0.7.2
django-toolbelt==0.0.1
gunicorn==19.3.0
phonenumbers==7.0.11
Pillow==2.9.0
psycopg2==2.6.1
py-moneyed==0.6.0
six==1.9.0
static3==0.6.1
wheel==0.24.0
